<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <style>
        body{
            background-color: black;
            color: red;
        }
    </style>
</head>
<body>
    <h3>TODOS of BATMAN</h3>
    <pre>do{
    coding;
}while(day);</pre>
    <% for (let todo of todos) { %>
        <p><%= todo %></p>
        <% if (todo == 'cricket'){%>
            <p>Khelo Behncho <%=todo%></p>
        <% }%>
    <% } %> 
</body>
</html>