<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <style>
        h3{
            color: steelblue;
        }
        p{
            color: blueviolet;
        }

    </style>
</head>
<body>
    <h3>Payment page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque sequi sint corporis. Voluptas quisquam, magni ipsum illo perferendis ex. Quibusdam eius accusantium placeat. Maiores adipisci voluptatibus labore, eaque distinctio eius. Pariatur, dolorum minima, unde voluptatibus facere ratione sunt quasi quae qui accusamus perferendis illo asperiores esse. Illum, animi error!</p>
</body>
</html>